body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 52px;
  margin-left: 59px;

  width: 207px;
  height: 39px;
  font: var(--unnamed-font-style-normal) normal bold 32px/39px
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 32px/39px Inter;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
p {
  /* Layout Properties */
  margin-top: 27px;
  margin-left: 59px;
  margin-right: 49px;
  /* UI Properties */

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-29)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-858585);
  text-align: left;
  font: normal normal 300 18px/29px Inter;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
}

img {
  margin-top: 26px;
  margin-left: 69px;
  width: 40%;
  height: 40%;
  opacity: 1;
}
ol {
  /* Layout Properties */
  margin-top: 40px;
  margin-left: 59px;
  width: 510px;
  height: 421px;
  /* UI Properties */
  opacity: 1;
}
ol li {
  margin-top: 29px;
  width: 100%;
  height: 5%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-29)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-858585);
  text-align: left;
  font-size: 18px;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
}
li {
  width: 100%;
  height: 10%;
}
.ex-2 {
  margin-top: 40px;
  margin-left: 59px;
  margin-right: 20%;
  width: 1088px;
  height: 120px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 10px;
  opacity: 1;
}
h2 {
  /* Layout Properties */
  margin-top: 90px;
  margin-left: 59px;
  width: 1088px;
  height: 33px;
  font: var(--unnamed-font-style-normal) normal 300 22px /
    var(--unnamed-line-spacing-30) var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal 300 22px/30px Inter;
  letter-spacing: 0px;
  color: #424242;
  opacity: 1;
}
fieldset {
  margin-top: 20px;
  margin-left: 59px;
  margin-right: 39px;
  width: 108px;
  height: 400px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  opacity: 1;
}
pre {
  margin-top: 33px;
  margin-left: 23px;
  margin-bottom: 33px;
  width: 322px;
  height: 334px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-007eb4);
  text-align: left;
  font: normal normal 300 18px/30px Inter;
  letter-spacing: 0px;
  color: #007eb4;
  opacity: 1;
}
.ex-2 {
  margin-top: 47px;
  margin-left: 59px;
  margin-right: 29px;
  width: 80%;
  height: 20%;
}

ul li {
  margin-top: 15px;
  margin-left: 73px;
  height: 21px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-858585);
  text-align: left;
  font: normal normal 300 18px/30px Inter;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
}
.ex-4 {
  margin-top: 45px;
  margin-left: 69px;
  margin-right: 39px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-29)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-858585);
  text-align: left;
  font: normal normal 300 18px/29px Inter;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
}

.fie-1 {
  margin-top: 30px;
  height: 176px;
}
.ab {
  margin-top: 40px;
  margin-left: 139px;
  width: 1088px;
  height: 53px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-29)
    var(--unnamed-font-family-inter);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-858585);
  text-align: left;
  font: normal normal 300 18px/29px Inter;
  letter-spacing: 0px;
  color: #858585;
  opacity: 1;
}
strong {
  color: #424242;
}

b {
  color: #424242;
}
.table-1 {
  margin-left: 80px;
}
.table-1,
.td-1 {
  border: 1px solid;
}
.fie-5-2 {
  height: 604px;
}
.pre-5_1 {
  margin-top: 15px;
  margin-left: 59px;
  width: 100%;
}

.table-2,
.td-2 {
  margin-top: 25px;
  margin-left: 49px;
  border: 1px solid;
  background-color: #ededed;
}
.bol {
  margin-left: 14px;
  margin-top: 2px;
}
.b-c li {
  color: #007eb4;
}
.pre-words {
  margin-left: 2px;
  color: #424242;
  font-weight: bold;
  font-size: 14px;
}
